extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend pellentesque imperdiet. In tristique tincidunt orci tempor ultrices. Integer et est sed turpis feugiat ultrices vitae ut justo. Vivamus laoreet suscipit felis, et mollis nibh consectetur at.

                p libero augue, luctus eu justo a, tempus faucibus orci. Duis iaculis eu turpis vel accumsan. Quisque mattis urna sit amet tempus semper. Nam pulvinar aliquam lorem, et ullamcorper mauris dignissim a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                p et pellentesque ligula, et scelerisque massa. In hac habitasse platea dictumst. Ut vestibulum accumsan turpis, id laoreet dui bibendum eu. Proin nisl felis, venenatis sed felis nec, dictum fringilla massa. 

            .listado-iconos
                .container.mt-5.py-5.text-center 
                    .row 
                        .col-md-4
                            img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend pellentesque imperdiet. In tristique tincidunt orci tempor ultrices.
                        .col-md-4
                            img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend pellentesque imperdiet. In tristique tincidunt orci tempor ultrices.
                        .col-md-4
                            img(src="img/icono_precios.svg", alt="icono precio" class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend pellentesque imperdiet. In tristique tincidunt orci tempor ultrices.